//DISPLAY PAGE
.display {
    overflow-x: hidden;
    height: 100vh;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;

    .navbar {
        width: 100%;
        margin-bottom: 0;
        position: absolute;
        background: rgb(2, 0, 36);

        div {
            box-shadow: none;

            div {
                #buttons-right {
                    .user-bar {
                        button {
                            img {
                                filter: brightness(100%);
                            }
                        }
                    }
                }

                ul {
                    li {
                        ul {
                            background-color: rgb(2, 0, 36) !important;
                        }
                    }
                }
            }
        }
    }
}

#coments {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    overflow-y: scroll;
    background: rgb(2 0 36 / 70%);

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: transparent;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #555;
    }

    #reviews {
        padding: 3rem 0;
        display: grid;
        justify-items: center;

        h1 {
            display: none;
            color: $textMainCol;
            top: 50%;
            position: relative;
        }

        #user-review {
            background: $primary-col;
            padding: 1rem;
            border-radius: 24px;

            .profile-image-holder {
                width: 80px;
                height: 80px;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                left: 1rem;

                img {
                    display: inline;
                    margin: 0 auto;
                    height: auto;
                    width: 100%;
                }
            }

            .card-body {
                color: $textMainCol;

                p {
                    hr {
                        background: none;
                    }
                }
            }
        }

        .close-holder {
            position: fixed;
            right: 3rem;
            top: 1rem;
            width: 32px;
            height: 32px;
            z-index: 2;

            #close_comments {
                color: $textMainCol;
                font-size: 32px;
                cursor: pointer;

                &::before {
                    font-family: 'FontAwesome';
                    content: "\f057";

                }
            }
        }
    }
}

#test {
    background: rgb(2, 0, 36);
    background: linear-gradient(5deg, rgb(2, 0, 36) 25%, rgb(221 221 232 / 0%) 70%);
    height: 100%;
    z-index: -1;
    position: fixed;
}

.display {
    #display {
        #section-holder {
            height: 100vh;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            display: flex;
            align-items: flex-end;

            .container {
                max-width: 100%;
                color: white;

                #description {
                    height: 100%;
                    display: flex;
                    align-content: flex-end;

                    #similar-holder {
                        padding-right: 12px;
                    }

                    #first-col {
                        display: flex;
                    }

                    div {
                        &:first-child {
                            display: grid;
                            align-content: space-between;
                        }

                        .d-flex {
                            #title {
                                text-transform: uppercase;
                                font-family: 'Bowlby One', cursive;
                            }

                            .d-grid {
                                #trailer_btn {
                                    padding-left: 32px;

                                    &::before {
                                        position: absolute;
                                        font-family: 'FontAwesome';
                                        top: 6px;
                                        left: 10px;
                                        content: "\f144";
                                        background: "\f144";

                                    }

                                }
                            }
                        }

                        .d-inline-block {
                            display: flex !important;
                            justify-content: flex-start;

                        }

                        .row {
                            .actions {
                                display: flex;
                                list-style: none;
                                cursor: pointer;
                                align-items: center;
                                width: fit-content;
                                gap: 1rem;
                                margin: 0;

                                .dropdown-toggle::after {
                                    display: none;
                                }

                                .li_list {
                                    .dropdown {
                                        #add_to_list {
                                            background: none;
                                            border: none;
                                            color: white;
                                        }

                                        .dropdown-list {
                                            z-index: 10000;
                                            width: 220px;
                                            display: block;
                                            position: absolute;
                                            background: $seccondary-col;
                                            list-style: none;
                                            padding: 0;
                                            width: max-content;
                                            border-radius: 4px;
                                            top: 35px;

                                            .list {
                                                padding: 10px 15px;
                                                color: black;

                                                #list-holder {
                                                    list-style: none;
                                                    padding: 0;
                                                    max-height: 250px;
                                                    overflow-y: scroll;

                                                    &::-webkit-scrollbar-track {
                                                        border-radius: 10px;
                                                        background: transparent;
                                                    }

                                                    &::-webkit-scrollbar {
                                                        width: 8px;
                                                        background: transparent;
                                                    }

                                                    &::-webkit-scrollbar-thumb {
                                                        border-radius: 10px;
                                                        background-color: #555;
                                                    }

                                                    li {
                                                        color: $textMainCol;

                                                        &:hover {
                                                            background: $btn-primary;
                                                        }

                                                        input {
                                                            line-height: 24px;
                                                            padding: 5px;
                                                        }
                                                    }
                                                }
                                            }

                                            #new_list {
                                                a {
                                                    color: $btn-primary;
                                                    text-decoration: none;
                                                }

                                                &::before {

                                                    font-size: 2rem;
                                                    padding: .3rem .2rem;
                                                    margin: 0;
                                                    cursor: pointer;
                                                    font-family: FontAwesome;
                                                    content: "\f067  ";
                                                    color: gold;
                                                    font-size: 12px;
                                                }
                                            }

                                            #find_list {

                                                #btn_list {
                                                    background: rgb(208 33 40);
                                                    padding: 5px;
                                                    border: none;
                                                    width: 100%;
                                                    line-height: 32px;
                                                    margin-bottom: 1rem;
                                                    color: rgb(255 255 255);
                                                    font-size: 14px;
                                                    font-weight: 700;
                                                    border-radius: 4px;
                                                }
                                            }
                                        }

                                        .hide {
                                            display: none !important;
                                        }
                                    }
                                }



                                #add_to_list {
                                    &:hover {
                                        color: black;
                                    }

                                    &::before {
                                        font-size: 1.5rem;
                                        margin: 0;
                                        cursor: pointer;
                                        font-family: FontAwesome;
                                        content: "\f03a";
                                    }
                                }

                                #watchlist {
                                    &:hover {
                                        color: black;
                                    }

                                    &::before {
                                        font-size: 1.5rem;
                                        margin: 0;
                                        cursor: pointer;
                                        font-family: FontAwesome;
                                        content: "\f02e ";
                                    }
                                }

                                #favorite {
                                    &:hover {
                                        color: red !important;
                                    }

                                    &::before {
                                        font-size: 1.5rem;
                                        margin: 0;
                                        cursor: pointer;
                                        font-family: FontAwesome;
                                        content: "\f004";
                                    }
                                }

                                #stars_holder {
                                    &:hover {
                                        color: gold;
                                    }

                                    &::before {
                                        font-size: 1.5rem;
                                        margin: 0;
                                        cursor: pointer;
                                        font-family: FontAwesome;
                                        content: "\f005 ";
                                    }

                                    &::after {
                                        display: none;
                                    }
                                }

                            }

                            p {
                                font-size: 14px;
                                font-weight: 500;
                                max-width: 700px;
                                margin: 0;
                            }
                        }

                        .d-inline-block {
                            #average_vote {
                                &::before {
                                    font-size: 2rem;
                                    padding: .3rem .2rem;
                                    margin: 0;
                                    cursor: pointer;
                                    font-family: FontAwesome;
                                    content: "\f005 ";
                                    color: gold;
                                    font-size: 12px;
                                }
                            }

                            span {
                                color: white;
                                font-weight: 800;
                                margin-right: 1rem;

                                a {
                                    text-decoration: none;
                                    color: $textSecCol;
                                    font-size: 14px;
                                    font-weight: 700;

                                    &:hover {
                                        color: $textMainCol;
                                    }
                                }

                            }
                        }

                        .actors {
                            margin-top: 2rem;
                            overflow-x: scroll;

                            &::-webkit-scrollbar-track {
                                border-radius: 10px;
                                background: transparent;
                            }

                            &::-webkit-scrollbar {
                                height: 8px;
                                background: transparent;
                            }

                            &::-webkit-scrollbar-thumb {
                                border-radius: 10px;
                                background-color: #555;
                            }
                        }

                        .row {

                            #similar {
                                display: flex;
                                gap: 0.5rem;
                                overflow-x: scroll;
                                padding: 10px 0;
                                height: 200px;
                                overflow-y: hidden;

                                &::-webkit-scrollbar-track {
                                    border-radius: 10px;
                                    background: transparent;
                                }

                                &::-webkit-scrollbar {
                                    height: 8px;
                                    background: transparent;
                                }

                                &::-webkit-scrollbar-thumb {
                                    border-radius: 10px;
                                    background-color: #555;
                                }

                                .shadow-div {
                                    height: 168px;
                                    width: 0px;
                                    position: absolute;
                                    min-width: 111px;
                                    right: 12px;
                                    z-index: 999;
                                    background: rgb(2, 0, 36);
                                    background: linear-gradient(270deg, rgb(2 0 36) 0%, rgb(221 221 232 / 0%) 100%);
                                }

                                div {
                                    min-width: 300px;
                                    background: none;
                                    height: fit-content;
                                    border: none;

                                    &:hover {
                                        a {
                                            img {
                                                filter: brightness(100%);
                                            }
                                        }
                                    }

                                    a {
                                        z-index: 10;

                                        img {
                                            -webkit-filter: grayscale(100%);
                                            -moz-filter: grayscale(100%);
                                            -o-filter: grayscale(100%);
                                            -ms-filter: grayscale(100%);
                                            filter: grayscale(100%);
                                            width: 300px;
                                            border-radius: 12px;
                                            user-drag: none;
                                            user-select: none;
                                            -moz-user-select: none;
                                            -webkit-user-drag: none;
                                            -webkit-user-select: none;
                                            -ms-user-select: none;

                                        }
                                    }

                                    h5 {
                                        position: absolute;
                                        top: 110px;
                                        z-index: 11;
                                        left: 5px;
                                        background: $tertiaryCol;
                                        cursor: pointer;
                                        padding: 5px;
                                        border-radius: 12px;
                                    }
                                }
                            }

                            #actors {
                                display: flex;
                                justify-content: flex-start;
                                gap: 1rem;
                                padding-left: 0;

                                div {

                                    // display: flex;
                                    // flex-direction: column;
                                    // align-items: center;
                                    .card {
                                        background: none;
                                        border: none;

                                        div {
                                            width: 80px;
                                            height: 80px;
                                            position: relative;
                                            overflow: hidden;
                                            border-radius: 50%;

                                            img {
                                                display: inline;
                                                margin: 0 auto;
                                                height: auto;
                                                width: 100%;
                                                -webkit-filter: grayscale(100%);
                                                -moz-filter: grayscale(100%);
                                                -o-filter: grayscale(100%);
                                                -ms-filter: grayscale(100%);
                                                filter: grayscale(100%);

                                                &:hover {
                                                    filter: brightness(100%);
                                                }
                                            }
                                        }

                                        .card-body {
                                            padding: 15px 0 0 0;
                                            overflow: inherit;

                                            p {
                                                text-align: center;
                                                width: fit-content;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        .bg-light {
            position: absolute;
            width: 100%;

            #user_bar {
                z-index: 20;
            }

            #search_bar {
                z-index: 20;
            }

            #navbar-item {
                z-index: 20;
            }

            .container-fluid {

                .navbar-brand {
                    z-index: 20;

                }
            }
        }
    }
}